#china-photos {
	max-height: 667px;
	width: 100%;
	height: 100%;
}

#china-photos .container-china {
	width: 100%;
	height: 100%
}

#china-photos .container-china .hotels-china .photos-china {
	list-style: none;
    width: 100%;
}

#china-photos .container-china .hotels-china .photos-china li {
	display: block;
    float: left;
    width: 25%;
}

#china-photos .container-china .hotels-china .photos-china .photo {
	width: 100%;
	height: 100%;
    margin: 0;
    overflow: hidden;  
    background-color: #000;
}

#china-photos .container-china .hotels-china .photos-china .photo img {
	opacity: 0.5;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.3s, opacity 0.5s;
}

#china-photos .container-china .hotels-china .photos-china .photo img:hover {
	opacity: 1;
    transform: scale(1.03); 
}



/*=========== WIDESCREEN ===================*/

@media only screen and (max-width: 1407px) {
  
}



/*=========== LAPTOPS ===================*/

@media only screen and (max-width: 1215px) {
  
}



/*============ TABLETS ==================*/

@media only screen and (max-width: 1023px) {
 
}


/*========== MOBILE PHONE ===============*/

@media only screen and (max-width: 767px) {
  
}


@media only screen and (max-width: 320px) {
	

	#china .container .filter h1 {
    font-size: 3rem;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    float: left;
    margin: 50px 0 0 0px;
    font-weight: 700px;
    display: block;
    width: 50%;
	}


	#china-photos {
		display: none;
	}
}